:root {
    --dark-bkg: rgb(38, 35, 49);
    --text-clr: rgb(157, 154, 190);
    --text-clr2: rgb(225, 223, 250);
}

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-clr);
    line-height: 20px;
}

p, li {
    color: var(--text-clr2);
}

body {
    background-color: var(--dark-bkg);
}
/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    display: inline-block;
    font-size: 60px;
    padding: 30px 70px;
    margin: 1% 0%;
    background: yellowgreen;
}

header ul li {
    display: inline-block;
    margin: 10px 25px 10px 10px;
    font-size: 160%;
    text-decoration: underline;
    
}


.header-image {
    display: block;
    width: 1920px;
}

/* MAIN */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 10px;
    align-items: baseline;
}

/* ARTICLES */

aside {
    width: 20%;
    text-align: right;
    margin-left: auto;
}

aside h2 {
    font-size: 250%;
    line-height: 80%;
    margin-right: 5%;
}

article {
    flex: 1 0 65%;
    margin:25px auto;
    border-left: 3px solid var(--text-clr2);
    flex-basis: 65%;
}

/* ARTICLE 1 */

article p {
    padding: 0px 0px 1% 1%;
    font-size: 100%;
    line-height: 150%;
}

/* ARTICLE 2 */

.card-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.cards {
    background-image: url(/assets/images/placeholder1.PNG);
    width: 300px;
    border: 3px solid rgb(127, 47, 255);
    box-shadow: inset 0px 0px 50px red;
}

.cards:hover {
    box-shadow: inset 0px 0px 0px red;
}

/* 
.cards img {
    margin: 1%;
    max-width: 300px;
    border: 3px solid white;
}
.image-plate {
    display: inline-block;
    position: relative;
    bottom: -144px;
    left: 12px;
    background: var(--dark-bkg);
}

.image-plate p {
    position: relative;
    left: 10px;
}
 */

/* ARTICLE 3 */

article ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 2% 0%;
}

article ul li {
    list-style: none;
}

footer {
    text-align: center;
}

